@charset "UTF-8";


/* links */
.o-techdocs-content a:link {
	text-decoration: none;
	color:#4a95db;
}

.o-techdocs-content a:hover {
border-bottom:1px dotted #4a95db;
}

/* nav stuff */
.o-techdocs-nav--page {
	padding:0;
	margin:0;
}

.o-techdocs-nav--affix {
	top:0;
}

.o-techdocs-nav {
	margin: 0;
}

.o-techdocs-nav a {
	padding:15px 10px 13px 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight:bold;
}

.o-techdocs-nav li {
	background:none;
	border-top: 1px dotted #cec6b9;
}
.o-techdocs-nav li:last-child {
	border-bottom: 1px dotted #cec6b9;
}

.o-techdocs-nav--page li a {
	color:#4a95db;
}

.o-techdocs-content a:hover {
border-bottom: 1px dotted #4a95db;
}

.o-techdocs-nav--page li a:hover {
	background-color:#eee;
	color:#000000;
}

.o-techdocs-sidebar {
padding-left: 10px;
margin-top: 7px;
}

.o-techdocs-nav>li>a {
	padding:10px;
}

/* remove dotted line left of FT Square*/
.o-ft-header__nav--tools-theme [data-o-hierarchical-nav-level='1']>li>a {
	border-left: none;
}

.o-ft-header__nav--primary-theme [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) a {
padding: 20px ;
}

.o-ft-header__nav--primary-theme [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) li:first-child{
	border-top: none;
}

.o-ft-header__nav--primary-theme [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) {
	margin: -1px 0 0 4px;
}

.o-techdocs-content img:not(.transparent) {
	border:none;
}

.o-techdocs-leadbody {
	font-size:20px;
}

.o-techdocs-footer {
	background-color: #000000;
padding: 10px;
color: #ffffff;
font-size: 14px;
font-family: BentonSans, Helevetica, Arial, sans-serif;
}

.o-techdocs-pull-right {
	text-decoration: none;
color: #b0b0b0;
padding: 0 20px 0 0;
}

.o-techdocs-layout {
	min-height: 800px;
}