<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex, nofollow">

        <link href="{{ site.baseurl }}/buildcache/bundle.css" rel="stylesheet">

    </head>
    <body class='o-techdocs'>
      <div class="o-techdocs-header">
        <h1>{{site.name}}</h1>
        <p>Style guide subtitle goes here</p>
      </div>
      <ul class="ui-guide-nav">
        <li class="{% if page.title == 'Home' %}active{% endif %}">
          <a href="{{ site.baseurl }}/">Home (section 1)</a>
          {% if page.section == 'Section 1' %}
          <ul class="ui-guide-subnav">
            <li class="{% if page.title == 'Page 2' %}active{% endif %}">
              <a href="{{ site.baseurl }}/docs/page-2">Page 2</a>
            </li>
          </ul>
          {% endif %}
        </li>
      </ul>
      <div class="o-techdocs-layout">
        <div class="o-techdocs-sidebar">
         
        </div>

        <div class="o-techdocs-main">
          <div class="o-techdocs-content">
            {{ content }}
          </div>
        </div>
      </div>

      <div class='o-techdocs-footer'>
        <p><a class='o-techdocs-pull-right' href='http://github.com/financial-times/ft-origami'>View project on Github</a>&copy; THE FINANCIAL TIMES LTD {{ site.time | date:'%Y' }}. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
      </div>

      <script src='{{ site.baseurl }}/buildcache/bundle.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js'></script>
      <script>prettyPrint();</script>

    </body>
</html>
